{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <title>About hai bhai</title>
</head>

<body>
    <h1>About me</h1>
    <p>My name is Parampreet Singh.</p>
    <p>I don't know yours.</p>
    <h5>So, Bye! 😉</h5>
    <h3>Go to <a href="/">Home</a> </h3>
    <h1>I am {{name}}</h1>
    <img src="https://library.sportingnews.com/styles/crop_style_16_9_desktop/s3/2022-05/Hasbulla%203%20169.jpg?itok=8aUekD0I">

    <br>
    <h3>Want to enter text ?</h3>
    <p><a href="/form">Click here</a></p>
</body>

</html>