<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form page</title>
</head>
<body>
    <h1>Kuch bakwas likhlo</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <textarea name="usertext" id="textarea" cols="100" rows="10">{{text}}</textarea>
        <br>
        <input type="submit" value="Submit">
    </form>
    <br>
    {% if word_count %}
    <h1>Total words are: {{word_count}}</h1>
    {% endif %}
</body>
</html>